APP_NAME=pay-to-minwoo
PAYMENT_MODE=mock
PAYMENT_STORAGE=turso
PUBLIC_BASE_URL=http://127.0.0.1:3000
MOCK_WEBHOOK_SECRET=pay-to-minwoo-dev-secret
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
